<h1>えんむすび</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
画像をクリックするとmapが表示されます。

<div class="container">
    <div class="item"><%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %></div>
    <div class="item"><%= link_to image_tag("/kirei_shurijo.jpg"), "https://www.google.co.jp/maps/place/首里城公園/@26.2183181,127.7153514,15z/data=!4m5!3m4!1s0x0:0xc0899fbab29e4f8b!8m2!3d26.2183181!4d127.7153514" %></div>
    <div class="item"><%= link_to image_tag("/Ou_Island.jpg"), "https://www.google.com/maps/place/奥武島/@26.12934,127.7637,15z/data=!3m1!4b1!4m5!3m4!1s0x34e56f9b3f1d3e7f:0xbce56e71d9beb847!8m2!3d26.1293214!4d127.7724548" %></div>
    <div class="item"><%= link_to image_tag("/naha_bus_terminal.jpg"), "https://www.google.com/maps/place/Naha+Bus+Terminal/@26.2110156,127.6742415,17z/data=!3m1!4b1!4m5!3m4!1s0x34e5699f2901b071:0x72e988107e690576!8m2!3d26.2110156!4d127.6764302" %></div>
    <div class="item"><%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %></div>
    <div class="item"><%= link_to image_tag("/kirei_shurijo.jpg"), "https://www.google.co.jp/maps/place/首里城公園/@26.2183181,127.7153514,15z/data=!4m5!3m4!1s0x0:0xc0899fbab29e4f8b!8m2!3d26.2183181!4d127.7153514" %></div>
    <div class="item"><%= link_to image_tag("/Ou_Island.jpg"), "https://www.google.com/maps/place/奥武島/@26.12934,127.7637,15z/data=!3m1!4b1!4m5!3m4!1s0x34e56f9b3f1d3e7f:0xbce56e71d9beb847!8m2!3d26.1293214!4d127.7724548" %></div>
    <div class="item"><%= link_to image_tag("/naha_bus_terminal.jpg"), "https://www.google.com/maps/place/Naha+Bus+Terminal/@26.2110156,127.6742415,17z/data=!3m1!4b1!4m5!3m4!1s0x34e5699f2901b071:0x72e988107e690576!8m2!3d26.2110156!4d127.6764302" %></div>
    <div class="item"><%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %></div>
    <div class="item"><%= link_to image_tag("/kirei_shurijo.jpg"), "https://www.google.co.jp/maps/place/首里城公園/@26.2183181,127.7153514,15z/data=!4m5!3m4!1s0x0:0xc0899fbab29e4f8b!8m2!3d26.2183181!4d127.7153514" %></div>
    <div class="item"><%= link_to image_tag("/Ou_Island.jpg"), "https://www.google.com/maps/place/奥武島/@26.12934,127.7637,15z/data=!3m1!4b1!4m5!3m4!1s0x34e56f9b3f1d3e7f:0xbce56e71d9beb847!8m2!3d26.1293214!4d127.7724548" %></div>
    <div class="item"><%= link_to image_tag("/naha_bus_terminal.jpg"), "https://www.google.com/maps/place/Naha+Bus+Terminal/@26.2110156,127.6742415,17z/data=!3m1!4b1!4m5!3m4!1s0x34e5699f2901b071:0x72e988107e690576!8m2!3d26.2110156!4d127.6764302" %></div>
    <div class="item"><%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %></div>
    <div class="item"><%= link_to image_tag("/kirei_shurijo.jpg"), "https://www.google.co.jp/maps/place/首里城公園/@26.2183181,127.7153514,15z/data=!4m5!3m4!1s0x0:0xc0899fbab29e4f8b!8m2!3d26.2183181!4d127.7153514" %></div>
    <div class="item"><%= link_to image_tag("/Ou_Island.jpg"), "https://www.google.com/maps/place/奥武島/@26.12934,127.7637,15z/data=!3m1!4b1!4m5!3m4!1s0x34e56f9b3f1d3e7f:0xbce56e71d9beb847!8m2!3d26.1293214!4d127.7724548" %></div>
    <div class="item"><%= link_to image_tag("/naha_bus_terminal.jpg"), "https://www.google.com/maps/place/Naha+Bus+Terminal/@26.2110156,127.6742415,17z/data=!3m1!4b1!4m5!3m4!1s0x34e5699f2901b071:0x72e988107e690576!8m2!3d26.2110156!4d127.6764302" %></div>
    <div class="item"><%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %></div>
    <div class="item"><%= link_to image_tag("/kirei_shurijo.jpg"), "https://www.google.co.jp/maps/place/首里城公園/@26.2183181,127.7153514,15z/data=!4m5!3m4!1s0x0:0xc0899fbab29e4f8b!8m2!3d26.2183181!4d127.7153514" %></div>
    <div class="item"><%= link_to image_tag("/Ou_Island.jpg"), "https://www.google.com/maps/place/奥武島/@26.12934,127.7637,15z/data=!3m1!4b1!4m5!3m4!1s0x34e56f9b3f1d3e7f:0xbce56e71d9beb847!8m2!3d26.1293214!4d127.7724548" %></div>
    <div class="item"><%= link_to image_tag("/naha_bus_terminal.jpg"), "https://www.google.com/maps/place/Naha+Bus+Terminal/@26.2110156,127.6742415,17z/data=!3m1!4b1!4m5!3m4!1s0x34e5699f2901b071:0x72e988107e690576!8m2!3d26.2110156!4d127.6764302" %></div>
    <div class="item"><%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %></div>
    <div class="item"><%= link_to image_tag("/kirei_shurijo.jpg"), "https://www.google.co.jp/maps/place/首里城公園/@26.2183181,127.7153514,15z/data=!4m5!3m4!1s0x0:0xc0899fbab29e4f8b!8m2!3d26.2183181!4d127.7153514" %></div>
    <div class="item"><%= link_to image_tag("/Ou_Island.jpg"), "https://www.google.com/maps/place/奥武島/@26.12934,127.7637,15z/data=!3m1!4b1!4m5!3m4!1s0x34e56f9b3f1d3e7f:0xbce56e71d9beb847!8m2!3d26.1293214!4d127.7724548" %></div>
    <div class="item"><%= link_to image_tag("/naha_bus_terminal.jpg"), "https://www.google.com/maps/place/Naha+Bus+Terminal/@26.2110156,127.6742415,17z/data=!3m1!4b1!4m5!3m4!1s0x34e5699f2901b071:0x72e988107e690576!8m2!3d26.2110156!4d127.6764302" %></div>
    <div class="item"><%= link_to image_tag("/kirei.jpg"), "https://www.google.co.jp/maps/place/%E5%8F%A4%E5%AE%87%E5%88%A9%E5%B3%B6/@26.7042748,128.0104929,14.73z/data=!4m5!3m4!1s0x34e45834628fc6c1:0xfe464c1009cf4372!8m2!3d26.7072982!4d128.0181686" %></div>
    <div class="item"><%= link_to image_tag("/kirei_shurijo.jpg"), "https://www.google.co.jp/maps/place/首里城公園/@26.2183181,127.7153514,15z/data=!4m5!3m4!1s0x0:0xc0899fbab29e4f8b!8m2!3d26.2183181!4d127.7153514" %></div>
    <div class="item"><%= link_to image_tag("/Ou_Island.jpg"), "https://www.google.com/maps/place/奥武島/@26.12934,127.7637,15z/data=!3m1!4b1!4m5!3m4!1s0x34e56f9b3f1d3e7f:0xbce56e71d9beb847!8m2!3d26.1293214!4d127.7724548" %></div>
    <div class="item"><%= link_to image_tag("/naha_bus_terminal.jpg"), "https://www.google.com/maps/place/Naha+Bus+Terminal/@26.2110156,127.6742415,17z/data=!3m1!4b1!4m5!3m4!1s0x34e5699f2901b071:0x72e988107e690576!8m2!3d26.2110156!4d127.6764302" %></div>
</div>

