<h1>えんむすび</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
画像をクリックするとmapが表示されます。

<% if @route %>
    <br>
    最適ルートは
    <ul><li>現在地</li>
    <% @route.each do |i| %>
        <li><%= i.name %></li>
    <% end %>
    </ul>
    です。
<% end %>

<%= form_with url: '/', method: :post, local: true do |form| %>
    <div class="container">
        <% @images.each do |image| %>
            <div class="item">
                <%= image_tag("/#{image.image_path}",:class => "thumbnail") %>
                <input type="checkbox" name="images[]" value="<%= image.id %>" class="disabled_checkbox">
            </div>
        <% end %>
        <%= form.submit "ルート検索" %>
    </div>
<% end %>
