<h1>えんむすび</h1>

これはインスタ映えしそう！！　今すぐ行け！！！！
画像をクリックするとmapが表示されます。

<% if @route %>
    <br>
    最適ルートは
    <ul><li>現在地</li>
    <% @route.each do |i| %>
        <li><%= i.name %></li>
    <% end %>
    </ul>
    です。
<% end %>

<%= form_with model: @navigate_form, url: '/', method: :post, local: true do |form| %>
    <div class="container">
        <% @images.each do |image| %>
            <div class="item">
                <% if @navigate_form.images && @navigate_form.images.include?(image.id.to_s) %>
                    <%= image_tag("/#{image.image_path}",:class => "thumbnail checked") %>
                    <input type="checkbox" name="images[]" value="<%= image.id %>" class="disabled_checkbox" checked>
                <% else %>
                    <%= image_tag("/#{image.image_path}",:class => "thumbnail") %>
                    <input type="checkbox" name="images[]" value="<%= image.id %>" class="disabled_checkbox">
                <% end %>
            </div>
        <% end %>
        <%= form.submit "ルート検索" %>
    </div>
<% end %>
